* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  position: absolute;
  display: flex;
  width: 100%;
  overflow: hidden;
}

.image {
  display: flex;
  position: absolute;
  width: 100%;
  overflow: hidden;
}

img {
  width: 100%;
}

.container {
  position: relative;
  justify-content: end;
  align-items: center;
  /* background: red; */
  top: 100px;
  left: 140px;
  width: 50%;
  height: 50%;
}
.container h1 {
  width: 100%;
  font-size: 40px;
}
.container h1 span {
  background: rgb(255, 213, 0);
}
.container p {
  position: relative;
  color: rgb(147, 147, 147);
  font-size: 15px;
  left: 50px;
}
button {
  position: relative;
  background: black;
  color: white;
  cursor: pointer;
  width: 30%;
  padding: 5px;
  left: 50px;
}
